@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-medium-web.woff2") format("woff2"),
    url("../fonts/k Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "HKGrotesk";
  src: url("../fonts/hkgrotesk-regular-web.woff2") format("woff2"),
    url("../fonts/k Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
